.venv/

__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

instance/
.webassets-cache

.cache/

migrations/

.ipynb_checkpoints

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

logs/
*.log

.DS_Store
Thumbs.db
